
html {
    font-family: sans-serif;
    font-size: 18px;
    background-color: black;
}
div ul{
    margin-block-end: 0;
}
body{
    margin:0;
    padding:0;
}
body.begin{
    margin:0;
    padding:0;
    background-image: url("https://media.giphy.com/media/ERITeC4vJCEne/source.gif");
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color:#a0a0a0;
    font-size: 13px;
    height: 100%;
}
.header{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #262626;

    height: 50px;
    top: 0;
    left: 0;
    color: whitesmoke;
    position: fixed;
    width:100%;
}
.intro {
    margin:0;
    align-items: center;
    align-content: center;
    font-family: 'Bangers', cursive;
    font-size: xx-large;
}
.tasks{
    margin-top: 64px;
    display: flex;
    justify-content: center;

}
.taskcontainer{
    display:block;
}

.task{

    display: flex;

    margin-top:20px;
    max-width:700px;
    justify-content: stretch;
}
div.X{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}


.preitem{
    width:16px;
    min-width: 16px;
    margin-left:52px;
    margin-right: 16px;
    background-color: #404040;

}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px ;
    padding:20px 20px;
    background-color: #404040;

    border-radius: 8px;

}
img{
    border-radius: 10px;
    vertical-align: middle;
}
img.wtf{
    border-radius: 0;
}


div label{
    font-size: 18px;
    align-self: center;
}
div.result{
    margin: 10px auto;

}
iframe{
    border: 0;
    width:640px;
    height:360px;
}
.container>table,
.container>table tr,
.container>table td{
    border : 1px solid aqua;
    background-color: #404040;
    text-align: center;
}
a{
    color: orangered;
    text-decoration: none;
}

a:hover{
    color: deeppink;
}


