.invalid {

	background-color: red !important;
}
body{
	margin: 0;
	padding: 0;
}
button.sel{

	background-color: blue !important;
}
button{
	margin: 10px 10px;
}

canvas{
	border-radius: 5px;
	background-image: url("/images/graph.png");
	background-size: contain;
}

.main{
	margin: auto;
	text-align: center;
}
.form{

	padding: 25px;
	margin-top: 40px;
	text-align: center;
	width: 100%;
}

.head{
	display: block;
	width: 100%;
	color:white;
	background-color: black;
	padding: 10px;
}
.name{
	display: inline-block;
	width: 30%;
}
.group{
	width: 20%;
	display: inline-block;
}
.variant{
	width: 20%;
	display: inline-block;
}
.table{
	text-align: center;
	margin: 50px;
	display: table;
	min-width: 1200px;
	height: auto;
}
.table .row{
	display: table-row;
}
.row>.column{
	display: table-cell;
	border: black 2px solid;
	height: 10px;
}
.container{

	display:flex ;
	min-width: 1200px;
	justify-content: center;
}
